<header>
    <nav class="on-top">
        <label for="show-menu" class="show-menu"><span class="glyphicon glyphicon-menu-hamburger"></span></label>
        <input type="checkbox" id="show-menu" role="button">
        <a [routerLink]="['/']" class="logoTxt-responsive"><img src="assets/img/logo2.png" /></a>
        <ul class="links-url">
            <li>
                <a [routerLink]="['/']" class="logoTxt"><img src="assets/img/logo2.png" /></a>
            </li>
            <li><a class="links" href="#">News</a></li>
            <li><a class="links" [routerLink]="['/shop']">Shop</a></li>
            <li><a class="links" [routerLink]="['/smithy']">Smithy</a></li>
            <li><a class="links" href="#">Forum</a></li>
        </ul>
        <ul class="links-connexion">
            <div *ngIf="currentUser !== null && currentUser !== undefined; else connectBlock">
                <li><a [routerLink]="['/profil']">{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
                <li class="separate">
                    <p>|</p>
                </li>
                <li><a [routerLink]="['/logout']">Logout</a></li>
            </div>
            <ng-template #connectBlock>
                <li><a class="links connexion" [routerLink]="['/login']">Sign In</a></li>
                <li class="separate">
                    <p>|</p>
                </li>
                <li><a class="links connexion" [routerLink]="['/register']">Register</a></li>
            </ng-template>
        </ul>
    </nav>
</header>
<div id="about">
    <h1>About</h1>
    <div class="persons">
        <div class="row first">
            <div class="hexagon"><img src="assets/img/musser_a.jpg" /></div>
            <div class="hexagon"><img src="assets/img/joseph.demersseman.jpg" /></div>
            <div class="hexagon"><img src="assets/img/philong.le.jpg" /></div>
            <div class="hexagon"><img src="assets/img/piubel_r.jpg" /></div>
        </div>
        <div class="row second">
            <div class="hexagon"><img src="assets/img/sami.mahjoub.jpg" /></div>
            <div class="hexagon"><img src="assets/img/theo.denanassy.jpg" /></div>
            <div class="hexagon"><img src="assets/img/urbain_j.jpg" /></div>
        </div>
    </div>
</div>